.toolbar {
  border: solid 2px orange;
  display: flex;
  justify-content: space-around;
  height: 4rem,
}

.navbarLogo {
  cursor: pointer;
  width: 3rem;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.donateIcon {
  cursor: pointer;
  width: 1.8rem;
  margin-right: 0.7rem;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* DESKTOP: */
@media screen and (min-width: 981px) {
  .hamburgerMenu {
    display: none;
  }
}

/* TABLET & MOBILE: */
@media screen and (max-width: 980px) {
  .linkBarLeft, .linkBarRight {
    display: none;
  }
}